{% extends "base.html" %}

{% block content %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% include 'navbar.html' %}
<div class="m-3">
  <h1 class="text-center">Agregar juego</h1>
  <form method="POST" action="{% url 'addgame' %}" class="row justify-content-center ml-3">
    {% csrf_token %}
    <div class="col-md-6 mb-3 ml-3">
      <div class="form-group">
        <label for="title">Título</label>
        <input type="text" id="title" name="title" class="form-control">
      </div>
    </div>
  
    <div class="col-md-6 mb-3 margin-left-3">
      <div class="form-group">
        <label for="rating">Puntuacion</label>
        <input type="number" name="rating" min= "0.0" max = "5.0" step="0.1" id="rating" class="form-control">   
      </div>
    </div>
  
    <div class="col-md-6 mb-3">
      <div class="form-group">
        <label for="platform">Plataforma</label>
        <select id="platform" name="platform" class="form-control">
          {% for platform in platforms %}
            <option value="{{ platform.id }}">{{ platform.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  
    <div class="col-md-6 mb-3">
      <div class="form-group">
        <label for="genre">Género</label>
        <select id="genre" name="genre" class="form-control">
          {% for genre in genres %}
            <option value="{{ genre.id }}">{{ genre.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  
    <div class="col-md-6 mb-3">
      <div class="form-group">
        <label for="developingCompany">Compañía</label>
        <select id="developingCompany" name="developingCompany" class="form-control">
          {% for developingCompany in developingCompanies %}
            <option value="{{ developingCompany.id }}">{{ developingCompany.name }}</option>
          {% endfor %}
        </select>
      </div>
    </div>
  
    <div class="col-md-12 text-center">
      <input type="submit" value="Guardar" class="btn btn-primary">
    </div>
  </form>
  <div>
    {{ errorMesage }}
  </div>
</div>


<style>
  .ui-autocomplete {
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 1000;
      float: left;
      display: none;
      min-width: 160px;
      padding: 4px 0;
      margin: 2px 0 0 0;
      list-style: none;
      background-color: #fff;
      border-color: #ccc;
      border-color: rgba(0, 0, 0, 0.2);
      border-style: solid;
      border-width: 1px;
      max-height: 200px;
      overflow-y: auto;
      margin-top: 10px;
    }
</style>

<script>
  $(function() {
    $("#title").autocomplete({
      source: function(request, response) {
        $.ajax({
          url: "https://api.rawg.io/api/games",
          type: "GET",
          dataType: "json",
          data: {
            search: request.term,
            key: "12be482495cb4070b168a25fc05ff342"
          },
          success: function(data) {
            response($.map(data.results, function(item) {
              return {
                label: item.name,
                value: item.name
              };
            }));
          }
        });
      },
      minLength: 3,
      appendTo: "#title_autocomplete_container"
    });
    $("div[role=status]").css('display', 'none')
  });
</script>
{% endblock %}

