{% extends "base.html" %}
{% block content %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% include 'navbar.html' %}

<div>
    <span vocab="https://schema.org/" typeof="VideoGame">
        <h1 property = "name">{{ game.title }}</h1>
        <span rel="aggregateRating" typeof="AggregateRating">
            <span property="worstRating" content="0"></span>
            <p property="ratingValue">{{ game.rating }}</p>
            <span property="bestRating" content="5.0"></span>
            <span property="ratingCount" content="1"></span>

        </span>
        <span rel="author" typeof="Organization">
            <p property="name">
                {{ game.developingCompany.name }}
            </p>
        </span>   
        <p property = "genre">{{ game.genre.name }}</p>
        <p property = "gamePlatform">{{ game.platform.name }}</p>
    </span>
</div>          
{% endblock %}