{% extends "base.html" %}
{% block content %}

{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% include 'navbar.html' %}

<h1 class = "text-center">Bienvenido a nuestra página de inicio</h1>

<div class = "m-5">
  <table class = "table">
    <thead>
      <tr class="text-center">
        <th>Id</th>
        <th>Título</th>
        <th>Género</th>
        <th>Plataforma</th>
        <th>Compañía</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for g in game %}
      <tr class="text-center align-middle" vocab="https://schema.org/" typeof="VideoGame">
        <td>{{ g.id }}</td>
        <td property = "name">{{ g.title }}</td>
        <td property = "genre">{{ g.genre }}</td>
        <td property = "gamePlatform" >{{ g.platform }}</td>
        <td rel = "author" typeof="Organization">
          <span property = "name">
            {{ g.developingCompany }}
          </span>
        </td>
        <td>
          <div class = "row">
            <div class = "col-4">
              <form action="/updateGame/{{ g.id }}">
                <button type="submit" class="btn btn-primary">Actualitzar</button>
              </form>
            </div>
            <div class = "col-4">
              <form action="/deleteGame/{{ g.id }}">
                <button type="submit" class="btn btn-danger">Eliminar</button>
              </form>
            </div>
            <div class = "col-4">
              <form action="/gameDetail/{{ g.id }}">
                <button type="submit" class="btn btn-success">Infromacion</button>
              </form>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div class = "float-end">
    <form action="./addGame">
      <button type="submit" class="btn btn-success" >Añadir</button>
    </form>
  </div>
</div>


{% endblock %}



<!--<h3>Juegos</h3>
<ul>
    {% for ga in game %}
        <li>{{ ga.title }}</li>
    {% endfor %}
</ul>

<h3>Plataformas</h3>
<ul>
    {% for platform in platform %}
        <li>{{ platform.name }}</li>
    {% endfor %}
</ul>

<h3>Compañia de desarrollo</h3>
<ul>
    {% for dev in developing_company %}
        <li>{{ dev.name }}</li>
    {% endfor %}
</ul>

<h3>Genero</h3>
<ul>
    {% for g in genre %}
        <li>{{ g.name }}</li>
    {% endfor %}
</ul>-->